<li class="nav"><%= link_to "Ask a question", new_question_path %></li>
<li class="nav"><%= link_to "My profile", user_path(current_user.id) %></li>
<li class="nav"><%= link_to "Logout, #{current_user.username}", logout_path, method: :delete %></li>
